<div class="get-in-touch">
    <div class="container">
        <div class="col-md-3 gin">
            <h3>Redes Sociais</h3>
            <!-- <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspeisse
                eget diam</p> -->
            <div class="social-icons">
                <i class="facebook"></i>
                <i class="twitter"></i>
                <i class="googlepluse"></i>
            </div>
        </div>
        <div class="col-md-3 address">
            <h3>Endereço</h3>
            <address>
                <p>Rua José Versolato, 111</p>
                <p>Torre B - Sala 924</p>
                <p>Centro, São Bernardo do Campo - SP</p>
                <p>CEP 09750-730.</p>
                <!-- <a href="{% url 'contato'%}"> Ver mapa</a> -->
                <p class="phone"><span>Telefone</span> : (11) 9 9999-9999</p>
                <span class="phone">E-mail :<a href="mail-to:example@mail.com"> contato@suelimendonca.com</a></span>
            </address>
        </div>
        <div class="col-md-6 dal">
            <h3>Fale Comigo</h3>
            <input type="text" class="text" value="Nome" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Nome';}">
            <input type="text" class="text" value="Sobrenome" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Sobrenome';}">
            <input type="text" class="text" value="E-mail" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'E-mail';}">
            <input type="text" class="text" value="Telefone" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Phone';}">
            <textarea onfocus="if(this.value == 'Sua Mensagem') this.value='';"
                onblur="if(this.value == '') this.value='Sua Mensagem';">Sua Mensagem</textarea>
            <input type="submit" value="ENVIAR">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</div>