<div class="about-content">
        <div class="container">
            <!-- Contact -->
            <div class="contact">
                <div class="contact-head text-center">
                    <h2>Onde Estou</h2>
                    <span>Endereço onde estou localizada.</span>
                </div>
                <!----- contact-grids ----->
                <div class="contact-grids">
                    <div class="contact-map">
                        <iframe width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.56561921387!2d-46.551442685439554!3d-23.691487284618407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce423597f56e4d%3A0xc957eff53a53690c!2sR.%20Jos%C3%A9%20Versolato%2C%20111%20-%20Centro%2C%20S%C3%A3o%20Bernardo%20do%20Campo%20-%20SP%2C%2009751-020!5e0!3m2!1spt-BR!2sbr!4v1583296977854!5m2!1spt-BR!2sbr">
                        </iframe>
                        <br>
                        <small>
                        <a href="https://goo.gl/maps/Yrf8Y7HVPKFwL8rZ7"
                            style="color:#8C8061;text-align:left;font-size:1em">Ir para o Maps</a></small>
                        
                        <!-- <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                            src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a
                                href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265"
                                style="color:#8C8061;text-align:left;font-size:1em">View Larger Map</a></small> -->
                    </div>
                    
                </div>
                <!----- contact-grids ----->
            </div>
            <!-- /Contact -->
    
        </div>
    </div>
    </div>