{%load static%}
<div class="service-section">
    <div class="container">

        <div class="about-section">
            <div class="about-section-top text-center">
                <h3>Minhas Especialidades</h3>
            </div>
        </div>

        <div class="service-section-grids">

            <div class="col-md-4 service-section-grid-2">
                <h3>Products</h3>
                <img src="{% static 'images/p.jpg'%}" alt="" />
                <h4>Quisque eget ante lorem. Proin tincidu, lorem ut convallis egestas</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis
                    egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
                <a class="btn btn-1 btn-1c" href="">Leia-me</a>
            </div>
            <div class="col-md-4 service-section-grid-2">
                <h3>Products</h3>
                <img src="{% static 'images/p.jpg'%}" alt="" />
                <h4>Quisque eget ante lorem. Proin tincidu, lorem ut convallis egestas</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis
                    egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
                <a class="btn btn-1 btn-1c" href="">Leia-me</a>
            </div>
            <div class="col-md-4 service-section-grid-3">
                <h3>Resource</h3>
                <img src="{% static 'images/r.jpg'%}" alt="" />
                <h4>Praesent sodales pretium tellus, et euismod neque malesuada et</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis
                    egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
                <a class="btn btn-1 btn-1c" href="">Leia-me</a>
            </div>
            <div class="col-md-4 service-section-grid-3">
                <h3>Resource</h3>
                <img src="{% static 'images/r.jpg'%}" alt="" />
                <h4>Praesent sodales pretium tellus, et euismod neque malesuada et</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Suspend isse eget mi diam. Quisque eget ante lorem. Proin tincidunt, lorem ut convallis
                    egestas, enim justo placerat magna, nec dictum enim ante id elit.</p>
                <a class="btn btn-1 btn-1c" href="">Leia-me</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>