{%load static%}
<div class="slider1">
    <div class="callbacks_container">
        <ul class="rslides" id="slider1">
            <li>
                <img src="{% static 'images/side-1.jpg'%}" alt="" />
                <div class="caption caption1">
                    <h2>Aliquam vitae faucibus ipsum facilisis</h2>
                </div>
            </li>
            <li>
                <img src="{% static 'images/side-2.jpg'%}" alt="" />
                <div class="caption caption1">
                    <h2>Aliquam vitae faucibus ipsum facilisis</h2>
                </div>
            </li>
            <li>
                <img src="{% static 'images/side-3.jpg'%}" alt="" />
                <div class="caption caption1">
                    <h2>Aliquam vitae faucibus ipsum facilisis</h2>
                </div>
            </li>
        </ul>
    </div>
</div>
<script src="{% static 'js/responsiveslides.min.js'%}"></script>
<script>
    $(function () {
        $("#slider1").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>